body{
  text-align: center;
  }
  
#gamearea
  {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:600px;
    width:800px;
    background-color: red;
    border-radius: 10px;
    color: yellow;
    padding:20px;
  }

  input{
    color: yellow;
    background-color: red;
    border: 0px;
  }

  input:focus {
    outline: none !important;
    border-color: #719ECE;
    /*box-shadow: 0 0 10px #719ECE;*/
  }
